# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/dist/

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo
/.idea/
/.firebase/

# debug
# Logs
**/*.log*

# vercel
.vercel

# local env files
.env
.env.local
