**/*.svg
package.json
/.firebase
/.husky
/.next
/dist
/node_modules
/public
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
Dockerfile*
.gitignore
.prettierignore
.eslintcache
yarn-error.log
.history
CNAME
